<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Tumbl.io"  %></h1>
  <h3><%= gettext "Repeating things again and again. %{name}", name: "Anton" %></h3>
  <p>Tumbl Out Loud</p>
</section>